header{
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
body {
    font: 400 13px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff;
}
footer {
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 15px;
}
.posts{
  text-align: center;
}
.menu-links {
  font-size: 25px;
  letter-spacing: 4px;
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-weight: bold;

}
a:visited {
    color: #000;
}

header ol a:hover {
   text-decoration: none;
 }

.wrapper {
    max-width: -webkit-calc(800px - (70px * 2));
    max-width: calc(800px - (70px * 2));
}
.post-title {
    font-size: 35px;
    letter-spacing: 2px;
    line-height: 1;
    text-align: center;
    font-family: 'Poiret One', cursive;
}
#container
{
   width: 1000px;
    padding-top: 10px;
    margin: auto;
   background-color: white;
}
#menu
{
    width: 1000px;
    height: 120px;
    text-align: center;

}

#pole_tekstowe
{
    color: black;
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 20px;
  margin: 50px;
    width: 900px;
    background-color: white;
}
#tabelka
{
     border: 1px dashed #666;
     width: 320px;
     height: 150px;
     margin-left: 50px;
     padding: 30px;
      float:left;

}
#tytul
{
    float: right;
    width: 300px;
     height: 100px;
      border: 1px dashed #666;
     margin-right: 50px;
     text-align: center;
     padding: 20px;
     font-weight: bold;
     text-shadow: 0.1em 0.1em 0.5em #A52A2A;
    }

    input[type=text]
    { background-color: #f7f7f7;
      width: 160px;
      font-family: 'Poiret One', italic;
      height: 20px;
      font-size:18px;
      outline:none;
    }

    input[type=text]:focus
    {
      -webkit-box-shadow: 0px 0px 26px -6px rgba(165,42,42,0.9);
      -moz-box-shadow: 0px 0px 26px -6px rgba(165,42,42,0.9);
    box-shadow: 0px 0px 26px -6px rgba(165,42,42,0.9);
    }

     input[type=password]
    { background-color: #f7f7f7;
      width: 160px;
      font-family: 'Poiret One', italic;
      height: 20px;
      font-size:18px;
      outline:none;
    }

    input[type=password]:focus
    {
      -webkit-box-shadow: 0px 0px 26px -6px rgba(165,42,42,0.9);
      -moz-box-shadow: 0px 0px 26px -6px rgba(165,42,42,0.9);
    box-shadow: 0px 0px 26px -6px rgba(165,42,42,0.9);
    }



    #test
    {
        width: 700px;

    }

    input[type=submit]
    {
        width:200px;
        height:50px;
        border: 1px dashed #666;
        font-family: 'Poiret One', italic;
        font-weight: bold;
        letter-spacing: 2px;
        cursor: pointer;
        font-size: 25px;

         background-color: white;
        -webkit-box-shadow: inset 0px 0px 56px -11px rgba(224,127,127,1);
-moz-box-shadow: inset 0px 0px 56px -11px rgba(224,127,127,1);
box-shadow: inset 0px 0px 56px -11px rgba(224,127,127,1);
    }

    input[type=submit]:hover
    {
        background-color: white;
   -webkit-box-shadow: inset 0px 0px 56px 2px rgba(224,127,127,1);
-moz-box-shadow: inset 0px 0px 56px 2px rgba(224,127,127,1);
box-shadow: inset 0px 0px 56px 2px rgba(224,127,127,1);
    }


header ol
{ padding: 0px;

  list-style-type: none;
  height: 30px;
  line-height: 200%;
  font-size : 23px;
  display: inline-block;

}

header ol a
{
    color: Black;
    text-decoration: none;
    display: block;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
    height: 85px;
}

header ol > li
{
    float: left;
    width: 200px;
    text-align: center;
    border-right: 1px dashed #990033;
}

header ol > li:first-child
{
    border-left: 1px dashed #990033;
}

header ol > li:hover
{
    background-color: #ece0e0;
}

header ol > li:hover > a
{
    font-size: 29px;
}

header ol > li > ul
{
    list-style-type: none;
    display : none;
}
header ol > li:hover > ul
{
    display: block;
    position: absolute;

}
header ol > li > ul > li:hover
{
    background-color: #ece0e0;
    font-size:21px;
}
header ol > li > ul > li
{
    border: 1px dashed #990033;
    line-height: 100%;
    height: 24px;
    font-size : 19px;
     background-color: #EDB0B0;
     margin-top: 1px;
     padding-top: 5px;
     width: 200px;



}
#stopka
{
    clear: both;
    border-top: 1px solid #cccccc;
    width: 98%;
    height: 20px;
    text-align: center;
    margin-top:10px;
}
.post-content p{
    text-indent: 2em;
}
