<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">


    {% include google-analytics.html %}

  </head>

  <body>
    <div id="header">

    </div>

    <div id="menu">
      <header>
        <ol class="center">
            <li><a style="text-shadow: 1px 1px 10px #990033;height:50px" href="/posts" > Posty </a> </li>
            <li> <a style="height:50px" href="/about" >Kontakt</a> </li>
            <li> <a style="height:50px" href="/others" > Inne </a> </li>
          </ol>
        </header>
    </div>

      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
      </header>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {% include disqus.html %}

    <div id="footer">
         ® Wykonanie : Ewelina Mysiak
    </div>


  </body>


</html>
